@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Caveat&family=Comic+Neue&family=Lora&family=Merriweather:wght@700&family=Roboto+Flex:opsz@8..144&family=Syne+Tactile&family=Ubuntu+Mono&family=UnifrakturMaguntia&family=VT323&display=swap');
@font-face {
    font-family: 'OpenDyslexic';
    src: url('./fonts/OpenDyslexic-Regular.otf')
}

body {
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    font-size: 1.125em;
    color: #ffe6c6;
    line-height: 1.5em;
    background-color: #15151a;
    margin: 0;
}

p {
    margin: 0;
}

.icon {
  line-height: 0;
  user-select: none;
}

.max {
  width: 100%;
  height: 100%;
}

.wrap {
  overflow-wrap: break-word;
}